ul
{
    list-style-type: none;
    padding-left: 2px;
}
ol {
    list-style-type: none;
}
li{
    position:static;
}
::-moz-placeholder {
    font-size: 14px;
    color: royalblue;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}
.ui-icon{
    margin-right: 14px;
}
.ui-cell-editor-output .ui-widget-content{
    border: none;
    background: none;
}
.ui-selectoneradio label{
    margin-right: 180px;
    padding: 5px;
}
.psevdoChecked .ui-icon {
    background-position: -64px -144px;
}
.psevdoChecked .ui-chkbox-box {
    background: #85b2cb -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,0.4)));
    box-shadow: inset 0 1px 0 #fff;
    border: 1px solid #7096ab;
}
