ul
{
    list-style-type: none;
}
ol {
    list-style-type: none;
}
li {
    padding-right: 10px;
}
li{
    font-style: italic;
}
li{
    position:static;
}
::-moz-placeholder {
   font-size: 14px;
 color: royalblue;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
