ul
{
    list-style-type: none;
    padding-left: 2px;
}
ol {
    list-style-type: none;
}
li{
    position:static;
}
::-moz-placeholder {
    font-size: 14px;
    color: royalblue;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}
